@model inventoryApp.Models.ProductTags

<div class="container mt-5">
    <h2>Create Product Tag</h2>
    <form asp-action="Delete" method="post" class="mt-4">
        <div class="mb-3">
            <label asp-for="Name" class="form-label">Tag Name</label>
            <input type="text" asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-success">Delete</button>
        <a href="/ProductTags" class="btn btn-secondary">Cancel</a>
    </form>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

