@model List<inventoryApp.Models.ProductTag>


<div class="container mt-5">
    <h2 class="mb-4">Product Tags</h2>

    <a href="/ProductTags/Create" class="btn btn-primary mb-3">Create New Tag</a>

    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Tag Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tag in Model)
            {
                <tr>
                    <td>@tag.Id</td>
                    <td>@tag.Name</td>
                    <td>
                        <a href="/ProductTags/Details/@tag.Id" class="btn btn-info btn-sm">Details</a>
                        <a href="/ProductTags/Edit/@tag.Id" class="btn btn-warning btn-sm">Edit</a>
                        <a href="/ProductTags/Delete/@tag.Id" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



